.wrapper_inboxCart {
    position: fixed;
    width: 320px;
    height: auto;
    background: #fff;
    z-index: 999999;
    border: 1px solid #ddd;
    opacity: 1;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -120px;
    display: block;
    padding: 0;
}
#product_info_box { /* display: none; */}

.wrapper_inboxCart p.info {
    color: #262626;
    font-size: 13px;
    background: #fff;
    border: 1px solid #efefef;
    padding: 12px 10px;
    text-align: center;
    margin: 0;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.51);
    }


/* top cart  */

.header-cart-mini .top-cart-content {
    width:270px;
    position: absolute;
    top: 40px;
    right: 0;
    border: 1px solid #ddd;
    border-top: 3px solid #e74c3c;
    background:#fff;
    padding: 15px;
    text-align: left;
    display: none;
}
.header-cart-mini:hover .top-cart-content {
    display: block;
}

.top-subtotal {
    margin: 15px 0 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    border-top: 1px solid #eee;
    clear: both;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}
.top-cart-content li.item{ float:left; width:100%; margin:0 0 10px; }
.top-cart-content .product-details { position:relative; }
.top-cart-content .product-details .btn-remove{ position:absolute; right: 0; top:4px; }
.top-cart-content .product-details .btn-edit{ position:absolute; right: 15px; top:4px; }

.top-cart-content .actions {
    padding: 0;
    float: right;
    margin:10px 0 0;
}
.top-cart-contain .product-details .price {width: auto;font-size: 15px;font-weight: bold;}
.top-subtotal span{ font-weight: bold; font-size: 13px} 
