#header-special-offer .promotion h3,
.products-grid li.item .add-to-links li a:hover,
.products-list li.item .add-to-links li a:hover,
.product-view .add-to-links a:hover,
.product-view .email-friend a:hover,
.crosssell .add-to-links a:hover,
.banner-content1-wrapper .box-des h3,
.blog-content li.item p.author { color: #db4c52; }

button.button span span,
button.btn-checkout span span,
.form-search #cat a.dd-option:hover,
.shopping-cart .arrows,
.products-grid li.item a.view-detail:hover,
.product-view button.btn-cart span,
.opc .allow .step-title .number,
.opc .active .step-title .number,
#back-top,
.block-static-information .banner-col .title .fa,
.nivo-controlNav a:hover, .nivo-controlNav a.active,
.nav_vmegamenu div.megamenu.active .level-top a,
.nav_vmegamenu div.megamenu.act .level-top a,
.nav_vmegamenu div.megamenu.active .level-top span.block-title,
.nav_vmegamenu div.megamenu .level-top a:hover,
.nav_vmegamenu div.megamenu .level-top span.block-title:hover,
.nav_vmegamenu #pt_menu_link ul li a.act,
.nav_vmegamenu #pt_menu_link ul li a:hover,
.nav_vmegamenu div.megamenu.act,
#megamenu_extra .custom-menu-wrapper .menu-col:hover .menu-custom-img { background-color: #db4c52; }

.product-view .add-to-links a:hover,
.product-view .email-friend a:hover,
.opc .allow .step-title .number,
.opc .active .step-title .number {  border-color:#db4c52; }
.header-cart-mini .top-cart-content { border-top-color:#db4c52; }
